<!DOCTYPE html>
<html>

<head>
    <title>省市区三级联动</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js" type="text/javascript"></script>
    <style>
        .header {
            font-size: 24px;
            display: flex;
            justify-content: center;
        }
        
        .cform {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="header">省市区三级联动</div>
    <form class="cform" action="/">
        请选择行政区域：<select id="region">
          <option value="-1">--请选择省份--</option>
        </select>

        <select id="state">
            <option value="-1">--请选择市--</option>
        </select>

        <select id="city">
          <option value="-1">--请选择区/县--</option>
      </select>
    </form>
</body>
<script>
    function createOption(name) {
        var ele = document.createElement("option");
        ele.setAttribute("value", name);
        ele.innerText = name;
        return ele;
    }

    function clearOptions($node) {
        $node.empty();
        var ele = document.createElement("option");
        ele.setAttribute("value", -1);
        ele.innerText = "--请选择--";
        $node.append(ele);
    }

    function appendOptions($node, dataArry) {
        clearOptions($node);
        for (x in dataArry) {
            var ele = createOption(dataArry[x]);
            $node.append(ele);
        }
    }
    (function() {
        $.ajax({
            url: "/region",
            method: "get",
            dataType: "json",
            success: function(data) {
                appendOptions($("#region"), data.data);
            }
        })
    })()

    //选择了省份后触发下列事件
    $("#region").on("change", function() {
        console.log("region is selected");
        clearOptions($("#state"));
        clearOptions($("#city"));
        $.ajax({
            url: "/state",
            method: "get",
            dataType: "json",
            data: {
                regionName: $("#region").val()
            },
            success: function(data) {
                appendOptions($("#state"), data.data);
            }
        })
    })
    $("#state").on("change", function() {
        console.log("state is selected");
        clearOptions($("#city"));
        $.ajax({
            url: "/city",
            method: "get",
            dataType: "json",
            data: {
                regionName: $("#region").val(),
                stateName: $("#state").val()
            },
            success: function(data) {
                appendOptions($("#city"), data.data);
            }
        })
    })
</script>

</html>