<!DOCTYPE html>
<html>

<head>
    <title>跨域</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js" type="text/javascript"></script>
</head>

<body>
    <div>
        用户名：
        <input type="text" id="username">
        <button id="btn_sign-in">注册</button>
    </div>
    <script>
        $("#btn_sign-in").on('click', sign_in);

        function sign_in() {
            $.ajax({
                type: "POST",
                url: "http://www.b.com:3000/signin",
                data: {
                    username: $("#username").val()
                },
                success: function(data) {
                    console.log(data)
                }
            })
        }
    </script>
</body>

</html>